html {
    height: 100%;
}
* {
    font-family: "Courier New", Courier, monospace;
}

body {
    height: 100%;
    margin: 0;
    background: #f8bb40; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f8bb40 10%, #f8413b 65%, #423544 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #f8bb40 10%,#f8413b 65%,#423544 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #f8bb40 10%,#f8413b 65%,#423544 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    color: #f7f7f7;
}

/* Setup form */
form {
    animation: S ease-out 1s;
    text-align: center;
    margin: auto;
}

input,
button {
    background: none;
    border: 1px solid #f7f7f7;
    font-size: 1.5em;
    padding: 5px;
    color: #f7f7f7;
    outline: none;
    margin: 5px auto;
    text-align: center;
    display: block;
}

    input {
        border-width: 0 0 1px 0;
    }
    
    button {
        cursor: pointer; /* Should not be needed? */
    }
        button:hover, button:active {
            background: #f7f7f7;
            color: #f87f3e;
        }

form.X {
    
}

/* Common */
.x {
    transition: 0.8s all;
    opacity: 0;
}
.X {
    display: none;
}

/* Animations */
@keyframes S {
    0%, 40% {
        transform: translateY(-120px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}