<!DOCTYPE html>
<html>
<head>
    <title>Snake</title>
    <link rel="stylesheet" href="/site.min.css" type="text/css"/>
</head>
<body>
    
    @RenderBody()

    <script src="/game.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
