<form autocomplete='off'>
    <h1>Welcome to Snake MMO<br/>(in 10kb)
    </h1>
    <label>
        Username
        <input id="U" />
    </label>
    <button Id="S">Join the Game</button>
    <table></table>
</form>
<canvas class="X"></canvas>